!!! 5

head
  link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='qunit-1.10.0.css', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='jquery-1.8.1.min.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
  script(type='text/javascript', src='qa.js')
  script(type='text/javascript', src='xander-client.js')

  script
    _gaq = [ ]

  style
    body {
      background: black;
      color: white;
    }
    .xander {
      position: absolute;
      top: 200px;
    }
    .xander img {
      width: 64px;
    }

body
  .container
    .row
      .span12
        h1 Xander Multivariate testing
      .span12
        #qunit
    .row
      .span12
        h1 Test Data 
          small feel free to ignore
        section#test1(data-variants='test1')
          section#a(data-variant='a').hide
            p A
          section#b(data-variant='b').hide
            p B
          section#c(data-variant='c').hide
            p C

        section#test2(data-variants='test2')
          section#a(data-variant='a').hide
            p A
            #test2sub1(data-variants='test2sub1')
              p(data-variant='1') 1
              p(data-variant='2') 2

  .xander
    img(src='xander.png')


  script(type='text/javascript', src='qunit-1.10.0.js')
  script(type='text/javascript', src='qa.js?version=#{new Date().getTime()}')
