!!! 5

head
  meta(charset='utf8')
  link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='qunit-1.10.0.css', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='jquery-1.8.1.min.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
  script(type='text/javascript', src='xander-client.js')

  script
    _gaq = [ ]

  style
    body {
      background: black;
      color: white;
    }
    .xander {
      position: absolute;
      top: 200px;
    }
    .xander img {
      width: 64px;
    }
    .class1 {
      width: 100px;
      height: 100px;
      background: #9CC;
    }
    .class2 {
      width: 100px;
      height: 100px;
      background: #C99;
    }

body
  .container
    .row
      .span12
        h1 Xander Multivariate testing
      .span12
        #qunit
    .row
      .span12
        h1 Test Data 
          small feel free to ignore
        section#test1
          section#a(data-variant='a').hide
            p A
          section#b(data-variant='b').hide
            p B
          section#c(data-variant='c').hide
            p C


        section#test2
          section#a(data-variant='a').hide
            p A
            #test2sub1
              p(data-variant='1') 1
              p(data-variant='2') 2

        section#test3(data-css-variants="class1 class2")
        
        section#test4
          form(onsubmit='console.log("test4 goal"); return false')
            input#test4btn(type='submit', data-goal='test4') Submit

        form#test5form(data-goal='test5', onsubmit="return false")

        a#test6atag(data-goal='test6', onclick='return false')
  .xander
    img(src='xander.png')


  script(type='text/javascript', src='qunit-1.10.0.js')
  script(type='text/javascript', src='qa.js?version=#{new Date().getTime()}')
