!!! 5

head
  link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='qunit-1.10.0.css', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='jquery-1.8.1.min.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
  script(type='text/javascript', src='xander-client.js')

  script
    _gaq = [ ]

  style
    body {
      background: black;
      color: white;
    }
    .xander {
      position: absolute;
      top: 200px;
    }
    .xander img {
      width: 64px;
    }
    .class1 {
      width: 100px;
      height: 100px;
      background: #9CC;
    }
    .class2 {
      width: 100px;
      height: 100px;
      background: #C99;
    }

body
  .container
    .row
      .span12
        h1 Xander Multivariate testing
      .span12
        #qunit
    .row
      .span12
        h1 Test Data 
          small feel free to ignore
        section#test1
          section#a(data-variant='a').hide
            p A
          section#b(data-variant='b').hide
            p B
          section#c(data-variant='c').hide
            p C


        section#test2
          section#a(data-variant='a').hide
            p A
            #test2sub1
              p(data-variant='1') 1
              p(data-variant='2') 2

        section#test3(data-css-variants="class1 class2")

        section#test4.hide
          #nested1(data-css-variants='a b c')
            #nested2(data-css-variants='a b c')
              p#nested3null(data-css-variants)

        section#test5.hide
          section(data-test5=true)
            p(data-variant='1') 1
            p(data-variant='2') 2
          section(data-css-variants='a b', data-test5-css=true)
  .xander
    img(src='xander.png')

  script(type='text/javascript', src='qunit-1.10.0.js')
  script(type='text/javascript', src='qa.js?version=#{new Date().getTime()}')
